<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CC Corpus pipeline manager</title>
        <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Da Manager App</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Steps</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/pipelines/">Pipelines</a>
                </li>
            </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

    </body>
</html>