<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CC Corpus pipeline manager</title>
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <div class="card card-body">
        <table>
            <thead>
                <tr>
                    <th>Step id</th>
                    <th>Step name</th>
                    <th>input directory</th>
                    <th>output directory</th>
                    <th>status</th>
                    <th>actions</th>
                </tr>
            </thead>
            {% for step in steps %}
                <tr>
                    <td>{{ step.id }}</td>
                    <td>{{ step.step_name }}</td>
                    <td>{{ step.input }}</td>
                    <td>{{ step.output }}</td>
                    <td>{{ step.status }}</td>
                    <td>
                        <a href="/step/{{step.id}}">view</a>
                        <a href="/edit_step/{{step.id}}">edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="container">
        <a href="/create_step_form/" class="btn btn-primary">Create New Step</a>
    </div>


</body>
</html>