<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CC Corpus pipeline manager</title>
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <div>
        <form action="/create_step/" method="post">

            <div>
                <label for="stepScript">script</label>
                <input type="text" class="form-control" name="stepScript">
            </div>

            <div>
                <label for="stepInput">input directory</label>
                <input type="text" class="form-control" name="stepInput">
            </div>

            <div>
                <label for="stepOutput">output directory</label>
                <input type="text" class="form-control" name="stepOutput">
            </div>

            <div>
                <label for="stepFurtherParams">further params</label>
                <input type="text" class="form-control" name="stepFurtherParams">
            </div>

            <div>
                <label for="stepScriptVersion">script_version</label>
                <input type="text" class="form-control" name="stepScriptVersion">
            </div>

            <div>
                <label for="stepComment">comment</label>
                <input type="text" class="form-control" name="stepComment">
            </div>

            <input type="submit" class="btn btn-primary">


        </form>

    </div>
</body>