<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CC Corpus pipeline manager</title>
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <div class="card card-body">
        <form action="/create_step/" method="post">

            <div>
                <label for="stepName">script</label>
                <input type="text" class="form-control" name="stepName">
            </div>

            <div>
                <label for="comment">comment</label>
                <input type="text" class="form-control" name="comment", value=" ">
            </div>

            <input type="submit" class="btn btn-primary">


        </form>

    </div>
</body>