<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CC Corpus pipeline manager</title>
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
</head>
<body>
    <div>
        <h2>Step id</h2>
        <div>{{ step.id }}</div>

        <h2>script</h2>
        <div>{{ step.script }}</div>

        <h2>input directory</h2>
        <div>{{ step.input }}</div>

        <h2>output directory</h2>
        <div>{{ step.output }}</div>

        <h2>further params</h2>
        <div>{{ step.further_params }}</div>

        <h2>script_version</h2>
        <div>{{ step.script_version }}</div>

        <h2>comment</h2>
        <div>{{ step.comment }} </div>

        <h2>status</h2>
        <div>{{ step.status }}</div>

    </div>
</body>